<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Warehouse.Data.Properties.Settings.DevelopmentConnectionString"
            connectionString="Server=localhost;Database=bmt-backup;User Id=root;Password=root;Allow Zero Datetime=true;Convert Zero Datetime=true"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
