<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Warehouse.Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Warehouse.Application.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>bmt-backup</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="AllowZeroDatetime" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="ConvertZeroDatetime" serializeAs="String">
                <value>true</value>
            </setting>
        </Warehouse.Application.Properties.Settings>
    </userSettings>
</configuration>